.layout {
  background-color: $pageBg;
  font-size: $fontSize;

  &Wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &Content {
      display: flex;
      flex-grow: 1;
    }
  }
}
