$pageBg: #f9fafb;

$headerBackground: #ffffff;
$headerBorder: #e5e7eb;

$footerBackground: #ffffff;

$fontSize: 14px;
$h1Size: 16px;
$h2Size: 18px;

$textColor: #1f2937;

$lightGrayText: #6b7280;

$border: #e5e7eb;

$placeholderColor: #adaebc;

$chatBubbleUserBg: #e0f2fe;
$chatBubbleAIBg: #1f2937;
