.header {
  background: $headerBackground;
  border: 1px solid $headerBorder;
  padding: 16px 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: $textColor;

  &Left {
    display: flex;
    gap: 10px;
    font-size: $h2Size;
  }

  &Right {
    display: flex;
    gap: 5px;
  }
}
