.chatWindow {
  &Container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    border: 1px solid #ccc;
  }

  .messages {
    height: 100%;
  }

  .input {
  }

  &Border {
    &Blue {
      border-color: blue;
      border-width: 10px;
    }

    &Red {
      border-color: red;
      border-width: 10px;
    }

    &Green {
      border-color: green;
      border-width: 10px;
    }

    &Yellow {
      border-color: yellow;
      border-width: 10px;
    }
  }
}
