.chatWindow {
  padding: 16px;
  gap: 24px;
  flex-grow: 1;
  display: flex;
  gap: 24px;
  flex-direction: column;
  height: 1px; // Ensures the flex container grows to fill available space, and keep scroll
  overflow: auto;

  @include media-breakpoint-up(md) {
    width: $chatWidth;
  }
}
